/*
navbar-fixed-top  bgcolor : #4B77BE;
nav-top bgcolor - #C0392B;
nav-bottom : #2C3E50;
hover : #C0392B;

*/

/*common*/
body{
	box-sizing: border-box;
	margin: 0;
}
div {
    font-family:Arial;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a:visited, a:active, a:hover, a:link{
	text-decoration: none !important;
	color: #fff;
}
li a:hover{
	background-color:inherit !important;
	color: #C0392B;
}

h1,h2{
	padding: 30px 0px !important;
}
input,.btn{
    border-radius: 0 !important;
}
textarea {
    resize: vertical;

}

/* navbar-top */
.navbar-header a{
	color: #fff !important;
}
.jumbotron{
	width: 100% !important;
}
.navbar-fixed-top{
	background-color: #C0392B !important;
	color: #fff !important;
	border: 0 !important;
}
.dropdown-menu{
	color: red !important;
	background-color: #2C3E50 !important;
}
.dropdown-menu>li>a{
	color: #fff !important;
}
li.dropdown.open > a {
  	color: #fff;
  	background: none !important;
}
.alert-success, .alert-danger{
	margin-bottom: 0!important;
	border-radius: 0 !important;
	border: none !important;
}
/*front page */


/* home */
.nav-bottom{
	position: relative;
	top: 50px;
	min-height: 120px;
	height: auto;
	margin: 0 auto;
	font-size: 26px;
	background-color: #2C3E50;
  	align-items:center;
  	display:flex;

}
.center_nav_bottom {
	margin:0 auto;
  	padding:10px;
  	text-align:center;
  	width:100%;
}

div.popular-book{
	min-height: 75vh;
	max-height: 80vh;
	width: 100%;
	background: url('/images/books.jpg') no-repeat center;
	background-size: cover;
	background-attachment: scroll;
	margin: 0;
}

blockquote {
	font-family: Georgia, serif;
	font-size: 28px !important;
	font-style: italic;
	width: 100% !important;
	margin: 0 auto !important;
	padding: 40px 40px !important;
	text-align: center;
	border: 0px !important;
	color: #C0392B;
	left: 0;
	background-color: #ccc;/*#C0392B*/
}

blockquote:before {
	content: "\201C";
	font-size: 30px;
	margin-right: 10px;	
}

blockquote cite {
color: #999999;
font-size: 18px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

/* book lists */

div.book_navigation{
	background-color: #2C3E50;
	height: auto;
	padding: 10px 60px;
	text-align: center;
	font-size: 20px;
}

.book .row .col-sm-3.col-md-3 {
	text-align: center;
	padding: 10px;
	margin: 0;
}
.book .row .col-sm-3.col-md-3 img {
	height: 300px;
	width: 100%;
}
.book .row .col-sm-3.col-md-3 div {
	text-align: left !important;
}

/* support */
.support .row{
	padding: 30px 0px !important;
}
.support .row .col-sm-4{
	margin: 0 auto;
	text-align: center;
	padding: 5px;
	height: 400px;
}
.support .row .col-sm-4>div{
	border: 1px solid #ccc !important;
	margin: 0 auto;
	text-align: left;
	padding: 30px 30px;
	min-height: 350px;
	height: 400px;
}
div.well{
	margin: 5px !important;
	padding: 0px !important;
	box-shadow: none;
	-webkit-box-shadow: none !important;
	background-color:  transparent !important;
	border: none !important;
	text-align: left;
}
div.well>div{
	text-align: left !important;
}
div.support-icon{
	float:left;
	width: 20%;
	margin:0 auto;
	padding-top:10px; 
}
div.support-content{
	float: left;
	width: 80%;
	padding-left: 0px;
}

.support-icon .fa{
	color: #C0392B;
	padding: 20px 0px;
	font-size: 35px !important;
}
div.support-links ul{
  margin: 0.75em 0;
  padding: 0 0em;
  list-style: none;
  text-align: left;
}
div.support-links ul>li{ 
	font-size: 20px;
}
div.support-links ul>li>a{
	color: #000 !important;
}
div.support-links ul>li:before{ 
	content: "\25B6";
	font-size: 15px;
	margin-right: 10px;	
	color: #C0392B;
}

/* carousel */

.item>img{
	width: 100% !important;
	height: 55vh !important;
}

div.carousel{
	padding: 0 !important;
}
div.carousel-inner{
	background-color: #34495E;
	width: 100% !important;
	height: 55vh !important;
	/*z-index:  !important;*/
}

#myCarousel .carousel-indicators li {
    /*background-color: none;*/
    border-color: #000 !important;
    width:22px;
    height:22px;
    cursor: pointer;
    text-align:center;
}
#myCarousel .carousel-indicators .active{
    /*background-color: #C0392B;*/
    border-color: #ccc !important;
    width:22px;
    height:22px;
    cursor: pointer;
    text-align:center;
}

div.carousel-caption{
	top: 6em;
	color: #C0392B ;
	font-weight: bold;
	/*background-color: transparent !important;*/
	width: 50%;
	margin: 0 auto;

}
div.carousel-caption p{
	color: #ccc !important;
	font-weight: normal;
	font-size: 18px;
}


/* footer */

.footer{
	background-color: #22313F;
	color: #ccc;
	height: auto;
	text-align: center;
	padding: 25px;

}
.footer div{
    display: inline-block;
    vertical-align: middle; 
}
/* front page ends */

/* book list by category */
div.category_nav{
	position: relative;
	top: 50px;
	height: auto;
	margin: 0 auto;
}

.col-sm-10>div:first-child{
	margin: 10px auto !important;
	padding: 10px 10px;
	text-align: left;
	border: 2px solid rgba(0,0,0,0.4);
	width: 100% !important;
}
.category_nav .row .col-sm-2{
	padding: 0;
	margin: 0;
}
.category_nav .row .col-sm-2>div{
	text-align: left !important;
	color: #000 !important;
	border: 1px solid rgba(0,0,0,0.4);
    margin: 10px 0px;
    padding: 0px;
    width: 100% !important;
}
.category_nav .row .col-sm-2>div>ul{
	list-style: none !important;
    margin: 0px auto;
    padding: 0px; 
}
.category_nav .row .col-sm-2>div>ul>li{
	padding: 5px 10px;
}
.category_nav .row .col-sm-2>div>ul>li:first-of-type{
	/*display: block;*/
	padding: 10px 10px !important;
	background-color: #C0392B;
}
.category_nav .row .col-sm-2>div ul li a{
	color: black !important;
	display: block;
	
}
.category_nav .row .col-sm-10 .row{

}
.category_nav .row .col-sm-10 .row .col-sm-3.col-md-3 {
	text-align: center;
	padding: 15px;
	margin: 0;
}
.category_nav .row .col-sm-10 .row .col-sm-3.col-md-3 img {
	height: 200px;
	width: 100%;
}
.category_nav .row .col-sm-10 .row .col-sm-3.col-md-3 div {
	text-align: left !important;
}
/*book list category ends*/

/*book details page*/
.nav.nav-tabs{
	border-bottom: 3px solid #C0392B;
}
.nav.nav-tabs>li>a{
	color: #000 !important;
	background-color:  !important;
	border: 1px solid #C0392B;
}
.nav.nav-tabs>li.active a{
	color: #fff !important;
	background-color: #C0392B !important;
	border: 1px solid #C0392B;
}
/*review rating*/
.glyphicon-star-empty,.glyphicon-star{
	color: #C0392B;
}
.rating {
    float: left;
    margin-left: 10px;
}
.rating span {
    font-size: 22px;
    cursor: pointer;
    float: right;
    color:  black !important;
}
.rating span:hover, .rating span:hover ~ span{
    color: #C0392B !important;
}


/* Cart */
div> .btn.btn-danger.remove{
    float: right !important;
    padding: 8px 15px;
    margin: 20px auto;
}
/*cart ends*/



/* Register */

.register-form>div>input{
	float: left;
	width: 75%;
	padding: 20px;
	margin-bottom: 20px;
}
.register-form>div label[for="name"]:before,
.register-form>div label[for="password"]:before,
.register-form>div label[for="email"]:before{
	content: "\2731" !important;
	font-size: 15px;
	font-weight: normal;
	/*float: left;*/
	padding: 10px 10px;
}
.register-form>div label[for="phone"]:before,
.register-form>div label[for="address"]:before{
	content: "\00A0" !important;
	font-size: 15px;
	font-weight: normal;
	/*float: left;*/
	padding: 10px 12px;
}
.register-form>div>label{
	float: left;
	width: 25%;
}
.register-form>button{
	float: left;
	border-radius: 5px !important;
	width: 100px;
}

/* contact form */
#SearchContainer { 
	padding: 1em 0;
	width: 80%;
	margin: 0 auto;
}

/*Form Design*/
div.contact_form form,div.about{
	margin: 0 auto !important;
	width: 70% !important;
}

.group{ 
    position:relative;
    margin-bottom:40px;
}
.group>input,.group>textarea {
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc;
}
.group>input:focus,.group>textarea:focus {
    outline:none;
}
/* Label Design */
 .group label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
/* Active state */
 .group>input:focus ~ label, input:valid ~ label {
    top:-20px !important;
    font-size:14px !important;
    color:#96281B !important;
}
.group>textarea:focus ~ label, textarea:valid ~ label {
    top:-20px !important;
    font-size:14px !important;
    color:#96281B !important;
}
/* Underlining Bars */
 .bar {
    position:relative;
    display:block;
    width:100%;
}
.bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#96281B;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}
/* active state */
 .group>input:focus ~ .bar:before, .group>input:focus ~ .bar:after {
    width:50%;
}
/* Highlighter */
 .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}
/* active state */
 .group>input:focus ~ .highlight,.group>textarea:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/** Animations **/
 @-webkit-keyframes inputHighlighter {
    from {
        background:#5264AE;
    }
    to {
        width:0;
        background:transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background:#5264AE;
    }
    to {
        width:0;
        background:transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background:#5264AE;
    }
    to {
        width:0;
        background:transparent;
    }
}
#Send{ 
    width: 100%; padding: 1em 0; cursor: pointer; border: 0; color: #fff; background: #22A7F0;
    -webkit-transition: all .5s;-moz-transition: all .5s;transition: all .5s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#Send:hover{ 
    background: #62c0f4;
    overflow: hidden;
}
/*contact form ends*/

/* about */
.col-sm-6.col-md-6>div>ul>li.list-group-item{
	background-color: #ECF0F1;
	margin: 2px;
}

/*media*/
@media (max-width: 768px) {
    div> .btn.btn-danger.remove{
	    float: left !important;
	    padding: 8px 20px;
	    margin: 20px 20px;
    }
	/* Register */
	.register-form>div>input,.register-form>div>label{
		width: 100%;
		display: block;
	}

}





